@use "@/assets/style/variables.sass" as *
.flex
  display: flex

.flex-column
  display: flex
  flex-direction: column

.flex-center
  display: flex
  justify-content: center
  align-items: center

.gap-8
  gap: 8px

.gap-16
  gap: 16px

.gap-50
  gap: 50px

.required-icon
    color: $red

.filter-grey
  filter: $filter-grey

.form-button
  display: flex
  justify-content: flex-end
  button
    width: 200px
  @media (max-width: $phone)
    justify-content: center
    button
      width: 100%

.grid-2
  display: grid
  grid-template-columns: 350px 350px
  grid-gap: 36px
  @media (max-width: $tablet)
    grid-template-columns: auto

  @media (max-width: $phone)
    grid-template-columns: auto