
$black: #333333
$grey: #aeaeae
$grey-light: #fafafa
$blue-light: #7ba0bc
$blue-dark: #446b89
$red: #894444

$gradient-dark: linear-gradient( 283.34deg, rgba(68, 107, 137, 0.6) -42.82%, rgba(68, 107, 137, 0.75) 34.27%, rgba(68, 107, 137, 0.6) 100.02%)
$gradient-dark-hover: linear-gradient(283.34deg, rgba(68, 107, 137, 0.7) -42.82%, rgba(68, 107, 137, 0.85) 34.27%, rgba(68, 107, 137, 0.7) 100.02% )

$filter-red: invert(27%) sepia(24%) saturate(1469%) hue-rotate(314deg) brightness(97%) contrast(76%)

